
@font-face {
    src: url(../fonts/ofont.ru_Verdana.ttf);
    font-family: Courier;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* header */
.head-nav {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    height: 60px;
}

.head-line {
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

.head-line-link {
    float: left;
    padding: 23px 0 20px 100px;
    font-family: courier;
}

/* head text right */
.head-text-icon {
    display: inline-block;
    float: right;
    color: #fff;
    padding: 20px 90px 17px 0;
    font-size: 14px;
    font-family: sans-serif;
}

.head-link-calendar {
     margin-left: 20px; 
}

.head-link-journey {
     margin-left: 20px; 
}

/* welkon-sing up */
.welcome {
     padding-left: 50px; 
}
.welcome, .green-link {
    letter-spacing: 1px;
}

.calendar, .journey, .forum {
    vertical-align: middle;
}

.welcome::before {
    content: '|';
    padding-right: 25px;
    font-size: 1.5em;
    opacity: 0.7;
}

.green-link {
    color: #3cb878;
}

/* spites white*/
.forum, .journey, .calendar {
     display: inline-block;
     background: url(../img/sprites.png) no-repeat;
     overflow: hidden; 
     text-align: left;
}

.forum { 
    background-position: -0px -20px; 
    width: 28px; 
    height: 20px;
}
.journey { 
    background-position: -0px -60px; 
    width: 20px; 
    height: 20px;
}
.calendar { 
    background-position: -0px -99px; 
    width: 19px; 
    height: 19px; 
}

/* sprites hover */
.head-line-link:hover {
    color: #3cb878;
}

.forum:hover {
    background-position: -0px -0px; 
    width: 28px; 
    height: 20px;
}
.journey:hover {
    background-position: -0px -40px; 
    width: 20px; 
    height: 20px;
}
.calendar:hover {
    background-position: -0px -80px; 
    width: 19px; 
    height: 19px;
}

/* form section */

.form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 30px));
    padding: 20px 45px;
}

.form-all {
    width: 340px;
    background: #fff;
    border-radius: 10px;
}

.sing-up {
    float: left;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    color: #757575;
    margin-left: -45px;
}

.sing-up::before {
    content: url(../img/shape.png);
    margin-right: 30px;
}

.green-link-float {
    float: right;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
}

/* social buttons */
.social {
    padding-top: 13px;
    display: inline-block;
    width: 100%;
}

.facebook-btn {
    display: inline-block;
    width: 160px;
    height: 40px;
    background-color: #305db8;
    font-size: 17px;
    border-radius: 5px;
}

.facebook-text {
    float: right;
    padding: 13px 10px 7px 0;
    width: 106px;
    font-family: sans-serif;
    font-weight: lighter;
}
.fa-facebook-f {
    float: left;
    padding: 12px 0 12px 20px;
}
.facebook-text::before {
    content: '|';
    padding-right: 20px;
    opacity: 0.3;
}

/* google btn */

.google-btn {
    float: right;
    width: 160px;
    background-color: #df4a32;
    height: 40px;
    font-size: 17px;
    border-radius: 5px;
}

.google-text {
    float: right;
    padding: 13px 30px 13px 5px;
    font-family: sans-serif;
    font-weight: lighter;
}

.fa-google-plus-g {
    float: left;
    padding: 13px 0 13px 13px;
}

.google-text::before {
    content: '|';
    opacity: 0.3;
    padding-right: 25px;
}

.block-horizon {
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    padding-bottom: 15px;
}

.before {
    display: inline-block;
    width: 145px;
    border: none;
    background-color: #757575;
    height: 1px;
    opacity: 0.6;
    vertical-align: middle;
}
.after {
    display: inline-block;
    width: 145px;
    border: none;
    background-color: #757575;
    height: 1px;
    opacity: 0.6;
    vertical-align: middle;
}

.horyzon {
    display: inline-block;
    padding: 0 8px;
    font-family: sans-serif;
    color: #757575;
}

/* inputs */
.input {
    width: 97%;
    height: 40px;
    border-radius: 4px;
    border: 2px solid rgba(193, 188, 188, 0.3);
    margin: 5px 0;
    font-family: sans-serif;
    font-weight: 300;
}

.input[placeholder] {
    font-size: 17px;
    padding-left: 14px;
    opacity: 0.7;
    outline: none;
}

.input:focus {
    border: 2px solid transparent;
    box-shadow: -2px 2px 7px 1px #000;
    font-weight: 600;
}

/* checkbox-text */

.checkbox-block {
    padding-top: 15px;
    padding-bottom: 25px;
}

.check-input {
    display: none;
}

.text-label::before {
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    border: 1px solid rgba(193, 188, 188, 0.7);
    border-radius: 3px;
    background-color: #fff;
    margin-right: 15px;
    vertical-align: middle;
}
/* checked */
input[type="checkbox"]:checked + label::before {
    content: url(../img/checkbox.png);
    display: inline-block;
    text-align: center;
}

.text {
    display: inline-block;
    font-size: 16px;
    font-family: sans-serif;
}

.create-btn {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #3cb878;
    text-align: center;
    font-family: sans-serif;
    line-height: 38px;
    font-size: 19px;
    border-radius: 4px;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

