#container {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
}

.block-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 150px;
    background-color: palevioletred;
}

.content-price-input {
    display: flex;
    align-items: center;
}

.input-text {
    height: 35px;
    width: 130px;
    padding: 5px;
}
.input-text-focous {
    outline: none;
    border: 2px solid lawngreen;
    font-size: 20px; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'] {
    -moz-appearance: textfield;
}
.text-price {
    color: #fff;
    font-family: serif;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

/*  */
.span-show {
    color: lightgray;
    background-color: #fff;
    position: absolute;
    top: 18px;
    right: 60px;
    padding: 0px 5px;
    border-radius: 10px;
}
.span-decor {
    font-size: 16px;
    font-family: sans-serif;
    color: grey;
    border-radius: 6px;
    padding: 5px;
    
}
.btn-decor {
    border-radius: 30%;
}
.span-correct {
    position: absolute;
    bottom: 15px;
    right: 60px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid black;
    background-color: red;
    padding: 4px;
    border-radius: 5px;
    color: #fff;
}