html {
    font-family: 'Open Sans', Courier;
}

.head-nav-menu {
    display: flex;
    height: 80px;
    background: #1d2124;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

/* leftside menu */
.head-logo-link {
    width: 70px;
    height: 80px;
    background-color: #1d2124;
    padding: 35px 28px 23px 20px;
}
.head-logo-link:hover {
    background-color: #1a1d20;
}

.architect {
    font-size: 22px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
}
.architect:hover {
    transition: 0.5s;
    color: #8f8d89;
}

/* menu link */
.logo-menu-list {
    text-transform: uppercase;
    font-size: 16px;
}
.logo-menu-list:hover {
    transition: 0.5s;
    color: #8f8d89;
}

.search {
    padding: 32px;
}
.search:hover {
    background-color: #1a1d20;
}

/* head-background */

.head-background {
    height: 400px;
    background-image: url(../homework6/img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.head-bc-text-block {
    display: flex;
}

.head-bc-text {
    color: #fff;
    font-size: 29px;
    text-align: center;
}

.head-bc-btn {
    display: flex;
    padding-top: 45px;
}

.bc-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.green-btn {
    background-color: #89ca62;
    padding: 20px;
    margin-right: 10px;
}
.blue-btn {
    background-color: #14b9d5;
    padding: 20px;
    margin-left: 10px;
}
.green-btn:hover {
    transition: 0.5s;
    background-color: #11fa05;
    color: #000;
}
.blue-btn:hover {
    transition: 0.5s;
    background-color: #0c5bf7;
    color: #000;
}


/* main galery */
.bc-color {
    background: #f2f2f2;
    padding-bottom: 70px;
}

.content {
    text-align: center;
}

.main-title-blue {
    padding-top: 50px;
    padding-bottom: 50px;
}
.title-text {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
}

/* galery */
.galery-section {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 800px;
    align-content: space-around;
}

.order1 {
    order: -2;
    margin-bottom: 35px;
} 
 .order2 {
    order: 0;
    margin-bottom: 35px;
}
.order3 {
    order: -1;
}
.order4 {
    order: 1;
}
.order5 {
    order: 2;
    margin-bottom: 35px;
}
.order6 {
    order: 3;
}  

.text-galery {
    font-size: 18px;
    color: #1a1d20;
    font-weight: bold;
    padding: 20px 28px;
    background: #fff;
}

.link-galery:hover {
    transition: 0.6s;
    filter: brightness(120%);
}

/* most popular */

.most-popular {
    height: 600px;
    background-image: url(../homework6/img/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.most-popular-title {
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 200px;
}
    
.blue-line-block {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 50px;
}

.grid-clients {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.clients-img:first-child {
    padding-top: 7px;
}

/* top rated */
.top-rated-container {
    box-sizing: border-box;
}

.text-rated {
    text-align: center;
    padding: 50px 0;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.top-rated-img {
    max-width: 100%;
}  

.top-rated-photo:hover {
    transition: 0.7s;
    filter: brightness(150%);
}

.blue-text {
    color: #18b4cf;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
}

/* hot news */
.hot-news-text {
    text-align: center;
    padding: 55px 0;  
}

.picture {
    max-width: 100%;
}

.hot-news-grid {
    max-width: 75%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: space-evenly;   
}

.img1-text-right {
    width: 50%;
    background-color: #f9f7f7;
    padding: 10px 15px;
}

/* top */
.hot-news-img1 {
    grid-column: 1 / 4;
    display: flex;
}

.hot-news-img2 {
    grid-column: 4;
}
/* midle1 */
.hot-news-img3 {
    grid-column: 1 / 3;
    text-align: right;
    background-color: #f9f7f7;
}
.hot-news-img4 {
    grid-column: 3 / 5;
    text-align: right;
    background-color: #f9f7f7;
}
/* midle2 */
.hot-news-img5 {
    grid-column: 1 / 3;
    text-align: right; 
    background-color: #f9f7f7;
}
.hot-news-img6 {
    grid-column: 3 / 5;
    text-align: right;
    background-color: #f9f7f7;
}
/* foot */
.hot-news-img7 {
    grid-column: 1 / 2;
    background-color: #f9f7f7;
}
.hot-news-img8 {
    grid-column: 2 / 5;
    display: flex;
}

.hot-news-img9 {
    width: 50%;
    background-color: #f9f7f7;
}


.text-fot-title, .text-midle-title, .text-top-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: right;
    padding-right: 15px;
}


.text-fot-title, .text-top-title  {
    text-align: center;
    background-color: #f9f7f7;
    padding-right: 15px;
}

.text-paragraph {
    font-size: 14px;
    text-align: right;
    font-weight: 500;
    line-height: 1.3;
    font-family: sans-serif;
    color: #5b6469;
    padding-right: 15px;
}

/* footer */

.copir-foot {
    margin-top: 50px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #1d2124;
}

.copiright {
    color: #fff;
    padding: 33px 0;
}

.img-foot {
    padding: 28px 0;
}
.foot {
    vertical-align: top;
}

.btn-top {
    color: #18b4cf;
    position: fixed;
    right: 50px;
    bottom: 60px;
    font-size: 60px;
    text-align: center;
    display: none;
}

.btn-center {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

#hide-top-raited {
    border-radius: 10px;
    padding: 5px;
    background-color: #18b4cf;
    text-align: center;
    outline: none;
    font-size: 16px;
    color: #fff;
    border: none;
}
