

a {
    color: #fff;
}
/* container for all page */
.main-mg {
    max-width: 1360px;
    background: url(../img/background@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;  
    font-family: 'Lato', sans-serif;
}

/* padding inside page */
.content {
     margin-left: auto;
     margin-right: auto;
     width: 1043px;
}

.logo-mail {
    padding-top: 50px;
}

.header-logo {
    float: left;
    font-weight: 900;
    text-transform: uppercase;
}
/* hover for icon-text */
.header-logo:hover .img-milan {
    background-image: url(../img/logo-orange.png);
}
.header-logo:hover .milan-holidays {
    color: #f26522;
}

.img-milan {
    background-image: url(../img/logo@1X.png);
    float: left;
    width: 46px;
    height: 44px;
}

.milan-holidays {
    float: left;
    font-size: 20px;
}
.logo-text-milan, .logo-text-holidays {
    padding: 1px 0 2px 10px;  
    font-weight: 700; 
    line-height: 0.9;
}
.logo-text-milan {
    font-size: 25px;
    letter-spacing: 1px;
}
.logo-text-holidays {
    font-size: 17px;
}

.mail-contact {
    width: 213px;
    float: right;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}
.contact {
    float: right;
}

/* main section */

.main {
    padding-bottom: 60px;
}
/* position of block */
.photo-block {
    float: left;
    position: relative;
}
.photo-block:nth-child(1) {
    margin: 50px 60px 50px 0;
}
.photo-block:nth-child(2) {
    margin: 50px 60px 50px 0;
}
.photo-block:nth-child(3) {
    margin: 50px 0 50px 0;
}
.photo-block:nth-child(4) {
    margin: 0 60px 0 0;
}
.photo-block:nth-child(5) {
    margin: 0 60px 0 0;
}

.hover-block {
    position: absolute;
    background-color: #f26522;
    color: #fff;
    height: 63px;
    width: 308px;
    opacity: 0;
    bottom: 38px;
}
.price {
    float: left;
    padding: 25px 0 19px 20px;
    font-size: 20px;
}
.viev-details {
    float: right;
    padding: 25px 35px 19px 0;
    font-size: 14px;
}
/* psevdo for price and details */
.price::before {
    content: 'from';
    font-size: 10px;
    position: absolute;
    top: 10px;
}
.viev-details::after {
    content: '>';
    padding-left: 15px;
    font-weight: bold;
}

/* hover efect */
.photo-block-text {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.photo-block-link:hover .hover-block {
    opacity: 1;
    color: #fff;
    transition: 0.6s;
}
.photo-block-link:hover .photo-block-text {
    color: #f26522;
    transition: 0.6s;
}

/* footer */
.footer {
    text-align: center;
}

.copyright {
    color: #fff;
    font-size: 12px;
    padding-bottom: 40px;
}

/* clearfix */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

