td {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    padding: 0;
}

table {
    border-spacing: 0;
}

.black {
    background-color: black;
}

body {
    height: 95vh;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
}