* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Merriweather', serif;
    font-family: 'PT Sans Caption', sans-serif;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.7px;
}
/*head*/
.list-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
}

.li-nav {
    display: inline-block;
    padding: 0px 30px 0px 30px;
}

a {
    color: #16a085;
    font-weight: 900;
    text-decoration: none;
}

.head-img img {
    width: 100%;
    max-height: 790px;
}

/*main*/
.main {
    background-color: #f5f6f7;
}

.headline {
    text-align: center;
    padding: 60px 0px 30px 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.paragrapf1, .paragrapf2 {
    text-align: center;
    padding-bottom: 35px;
    padding-left: 130px;
    padding-right: 130px;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
    font-weight: bolder;
    text-indent: 4em;
}

/*button*/

.btn {
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}

.button {
    font-weight: 800;
    letter-spacing: 1.8px;
    font-size: 12px;
    color: #fff;
    background-color: #16a085;
    margin-bottom: 40px;
    padding: 20px 40px 20px 40px;
    border-radius: 5px;
    text-transform: uppercase;
}
/*footer*/
footer {
    display: flex;
    justify-content: flex-end;
}

.copyright {
    padding: 100px 100px 45px 0px;
    font-weight: 600;
    font-size: 16px;
}



