.centered-content {
    height: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

.centered-content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    display: flex;
}

.tab-li {
    display: none;
    height: auto;
    padding: 20px;
    border: 1px solid black;
    width: 391px;
    box-shadow: 0px 5px 0px 0px black;
    font-family: sans-serif;
    font-size: 1.1em;
    background-color:#937341;
    border-top: none;
}

.tabs-title {
    font-family: sans-serif;
    padding: 20px;
    background-color: #23201D;
    color: #937341;
    cursor: pointer;
}

.tabs-title-act {
    background-color:#937341;
    color: black;
}
