@import url('https://fonts.googleapis.com/css?family=Muli:400,600,700');

html {
    font-family: 'Muli', sans-serif;
}

#intro {
	opacity: 0;
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);	
	text-align: center;
	color: gold;
	font-size: 300%;
    animation: intro 70s ease-out infinite;
    text-transform: uppercase;
}

#scroller {
	position: absolute;
    width: 60%;
	margin: 0 20% 0 20%;
	height: 100%;
 	font-size: 300%;
 	text-align: center;	
 	color: gold;
 	transform: perspective(300px) rotateX(25deg);
}

#scroller div {
	position: absolute;
    top: 100%;
	animation: scroller 70s linear infinite;
}

#scroller p { 
    margin: 1.35em 0 1.85em 0;
    line-height: 1.35em;	
  }

.container {
    position: absolute;
    background-image: url(../homework7/img/pluspng.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
	height: 100%;
}

/* ANIMATIONS */

@keyframes intro {
	0% {
		opacity: 0;
	}
  1% {
    opacity: 0;
  }  
	1.5% { 
    opacity: 1; 
  }
	5.5% { 
    opacity: 1; 
  }
	6% { 
    opacity: 0;
  }	
}

@keyframes scroller {
	0% {
		top: 100%;
		opacity: 0;
	}
	7% {
		top: 100%;
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		top: -250%;
		opacity: 0;
	}
}

