.password-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.input-wrapper {
    position: relative;
    width: intrinsic;       
    width: -moz-max-content;   
    width: -webkit-max-content;
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
}

.input-wrapper i {
    position: absolute;
    right: 10px;
    top: 12px;
    color: grey;
}

.btn {
    width: 120px;
    border-radius: 6px;
    font-weight: 600;
    height: 40px;
}

.container {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 50px;
}

#pas-first {
    margin-left: 50px;
}
#pas-second {
    margin-left: 10px;
}

#pas-first, #pas-second {
    width: 200px;
    border-radius: 7px;
}
#pas-second:focus {
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px black;
    outline: none;
}
#pas-first:focus {
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px black;
    outline: none;
}
