
html {
    font-family: 'Heebo', sans-serif;
}

.link {
    text-decoration: none;
}

.container {
    width: 1280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
/*header*/
.header-logo {
    width: 290px;
    padding: 60px 0px 45px 0px;
    margin: 0;
    font-size: 60px;
    font-weight: 300;
}

.logo-link {
    color: black;
}



.header-logo-item-blue {
    color: #00cbff;
}

/*header-nav*/
.nav-menu {
    height: 70px;
    background-color: #35444f;
}

.nav-list {
    text-align: center;
}

.nav-li {
    display: inline-block;
    padding: 26px 80px 24px 93px;

}
.nav-li:hover {
    background-color: #222f3a;
    transition: 0.8s;
}

.nav-link {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}
/*sidebar*/

.main-section {
    margin-top: 50px;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 345px;
    height: 394px;
    border: solid 2px #35444f;
}

.sidebar-list {
    box-sizing: border-box;
    height: 100%;
}

.sidebar-menu {
     padding: 27px;
}

.sidebar-link {
    position: relative;
    font-weight: 300;
    font-size: 25px;
    color: #495863;
    padding: 20px 70px 10px 20px;
}

.sidebar-menu:hover {
    background: #dbdbdb;
    font-weight: 600;
    transition: 0.8s;
}
.sidebar-link:hover {
    color: black;
    left: 30px;
    transition: 1s; 
}

/*main img*/
.main-img {
    display: inline-block;
    border: solid 2px #35444f;
    margin-left: 35px;
    height: 530px;
}

.main-logo {
    padding: 75px 265px 70px 300px;
}
.main-logo:hover {
    transform: scale(1.3);
    transition: 1s;
}

/*main-text*/
.main-text {
    text-align: left;
    font-size: 18px;
    margin: 50px 0 50px 400px;
}

.paragrapf {
    padding-bottom: 30px;
}

/* footer */

.footer {
    background-color: #b4b7ba;
    height: 70px;
    margin-bottom: 20px;
}

.fot-li {
    display: inline-block;
    margin: 25px 20px 15px 25px;
}
.fot-link {
    position: relative;
    font-size: 20px;
    color: #000;
}

.fot-link:hover {
    text-decoration: underline;
    color: #3181a6;
    transition: 0.8s;
    bottom: 5px;
}

.copyright {
    margin-left: 320px;
    font-size: 20px;
}

/* end)) */


